@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap");
@import url('assets/clash-grotesk/css/clash-grotesk.css');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

*,
::before,
::after {
  border-width: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
